:root {
    --primary: #025f64;
    --primary-opacid: rgba(2, 95, 100, 0.51);
    --primary-2: #04c2cc;
    --primary-3: #04ced8;
    --secondary: #c55a27;
    --secondary-2: #a54b21;
    --secondary-3: #99451e;
    --white: white;
    --light: #faf1ed;
    --light-opacid: rgba(250, 241, 237, 0.35);
    --light-2: #ccbdb7;
    --dark: black;
    --dark-opacid: rgba(10, 10, 10, 0.56);

    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    --radius-big: 2rem;
    --page-padding: 150px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

div {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
}

a, p {
    font-size: 1rem;
}

p {
    line-height: 1.25rem;
}

.subtitle {
    font-weight: normal;
}

.button, button {
    border: 2px solid var(--secondary);
    box-shadow: var(--shadow);
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius-big);
    color: var(--dark);
    background-color: var(--secondary);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover, button:hover {
    background-color: var(--secondary-2);
    border: 2px solid var(--secondary-2);
    color: var(--dark);
}

.button-outline {
    background-color: var(--dark-opacid);
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.button-secondary {
    background-color: var(--primary-3);
    border: 2px solid var(--primary-3);
}

.button-secondary:hover {
    background-color: var(--primary-2);
    border: 2px solid var(--primary-2);
}

.button-secondary-outline {
    border: 2px solid var(--primary-3);
    background: none;
    color: var(--primary-3);
}

.button-secondary-outline:hover {
    background-color: var(--primary-2);
    border: 2px solid var(--primary-2);
    color: var(--dark);
}

.button + .button {
    margin-left: 0.5rem;
}

.button:has(.icon) {
    height: 3rem;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
}

.button .icon {
    height: 1rem;
}

.button--container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin-bottom: 1rem;
}

.button--container .button {
    display: flex;
    align-items: center;
}

.header {
    position: sticky;
    top: 0;
    height: 100px;
    overflow: hidden;
    padding: 1rem var(--page-padding);
    background-color: var(--light);
    box-sizing: border-box;
    z-index: 10;
    display: flex;
}

.header img {
    height: 100%;
}

.nav-item {
    color: var(--dark);
    cursor: pointer;
    text-decoration: none;
}

.nav-item:hover {
    color: var(--primary);
}

.nav-item + .nav-item {
    margin-left: 1.5rem;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--page-padding);
}

.banner--intro {
    height: 400px;
    background-image: url("public/samen_3.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner__color {
    width: 100%;
    height: 100%;
    background-color: var(--primary-opacid);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    padding: 0 var(--page-padding);
}

.banner__color::after {
    background-color: var(--dark-opacid);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
}

.banner__color img {
    height: 70vh;
    margin-right: 2rem;
    z-index: 5;
    border-radius: var(--radius-big);
}

.intro--content {
    width: 50%;
    z-index: 5;
}

.filler {
    width: 50%;
}

.info--image {
    width: 50%;
    display: flex;
    align-items: center;
}

.info--image img {
    width: 90%;
    max-width: 500px;
    border-radius: var(--radius-big);
}

.info--content {
    width: 50%;
    padding: 7rem 0;
}

.banner--therapists {
    display: grid;
    flex-direction: row;
    gap: 3rem;
    grid-template-columns: 400px 1fr 1fr;
    padding: 13rem var(--page-padding) 7rem 0;
}

.therapist--intro {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: var(--shadow);
    height: 100%;
    padding: 2rem;
    padding-left: var(--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.therapist {
    border: 2px solid var(--light-2);
    border-radius: var(--radius-big);
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow);
    justify-content: space-between;
}

.therapist .therapist--photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -8rem;
}

.therapist .logo_invinding {
    height: 100px;
}

.therapist .logo_katelijn {
    height: 100px;
    margin-top: -50px;
    margin-left: 100px;
}

.therapist .button--website {
    margin-right: auto;
}

.therapist .button + .button {
    margin-left: 1rem;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    :root {
        --page-padding: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
    }

    .header img {
        margin-bottom: 0.5rem;
    }

    .filler {
        width: 0;
    }

    .intro--content {
        width: 100%;
    }

    .banner {
        flex-direction: column;
    }

    .info--image {
        margin: 3rem 0;
        width: 100%;
        max-width: 300px;
        justify-content: center;
    }

    .info--image img {
        width: 100%;
    }

    .info--content {
        padding: 0;
        width: 100%;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    :root {
        --page-padding: 2rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
    }

    .header img {
        margin-bottom: 0.5rem;
    }

    .filler {
        width: 30%;
    }

    .intro--content {
        width: 70%;
    }

    .banner {
        flex-direction: column;
    }

    .info--image {
        margin: 3rem 0;
        width: 100%;
        justify-content: center;
    }

    .info--image img {
        width: 100%;
        max-width: 300px;
    }

    .info--content {
        padding: 0;
        width: 100%;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    :root {
        --page-padding: 3rem;
    }

    .filler {
        width: 50%;
    }

    .intro--content {
        width: 50%;
    }

    .banner {
        flex-direction: row;
    }

    .info--image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 0;
    }

    .info--image img {
        width: 90%;
    }

    .info--content {
        padding: 7rem 0;
        width: 50%;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    :root {
        --page-padding: 150px;
    }

    .header {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    :root {
        --page-padding: 250px;
    }

    .info--image img {
        max-width: 500px;
    }
 } 