:root {
    --primary: #025f64;
    --primary-opacid: rgba(2, 95, 100, 0.51);
    --primary-opacid-2: rgba(2, 95, 100, 0.75);
    --primary-2: #04c2cc;
    --primary-3: #04ced8;
    --primary-4: #daf1f2;
    --secondary: #c55a27;
    --secondary-2: #a54b21;
    --secondary-3: #99451e;
    --secondary-4: #d16838;
    --white: white;
    --light: #faf1ed;
    --light-opacid-1: rgba(250, 241, 237, 0.95);
    --light-opacid: rgba(250, 241, 237, 0.35);
    --light-2: #ccbdb7;
    --dark: black;
    --dark-opacid: rgba(10, 10, 10, 0.25);
    --dark-opacid-1: rgba(0, 0, 0, 0.9);

    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    --radius-big: 2rem;
    --page-padding: 150px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
}

a, p {
    font-size: 1rem;
}

p {
    line-height: 1.25rem;
    color: var(--dark-opacid-1);
}

.subtitle {
    font-weight: normal;
}

.text--light {
    color: var(--light);
}

.button, button {
    border: 2px solid var(--secondary);
    box-shadow: var(--shadow);
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius-big);
    color: var(--dark);
    background-color: var(--secondary);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover, button:hover {
    background-color: var(--secondary-2);
    border: 2px solid var(--secondary-2);
    color: var(--dark);
}

.button-outline {
    background-color: var(--dark-opacid);
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.button-secondary {
    background-color: var(--primary-3);
    border: 2px solid var(--primary-3);
}

.button-secondary:hover {
    background-color: var(--primary-2);
    border: 2px solid var(--primary-2);
}

.button-secondary-outline {
    border: 2px solid var(--primary-3);
    background: none;
    color: var(--primary-3);
}

.button-secondary-outline:hover {
    background-color: var(--primary-2);
    border: 2px solid var(--primary-2);
    color: var(--dark);
}

.button:has(.icon) {
    height: 3rem;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
}

.button .icon {
    height: 1rem;
}

.button--container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin-bottom: 1rem;
    gap: 1rem;
}

.button--container .button {
    display: flex;
    align-items: center;
}

.button--container .button + .button {
    margin-left: 0;
}

.header {
    position: sticky;
    top: 0;
    height: 100px;
    overflow: hidden;
    padding: 1rem var(--page-padding);
    background-color: var(--light);
    box-sizing: border-box;
    z-index: 10;
    display: flex;
}

.header img {
    height: 100%;
}

.nav-item {
    color: var(--primary-opacid-2);
    cursor: pointer;
    text-decoration: none;
}

.nav-item:hover {
    color: var(--primary);
}

.nav-item + .nav-item {
    margin-left: 1.5rem;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--page-padding);
}

.banner--intro {
    height: 400px;
    background-image: url("public/samen_3.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro__button--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.banner__color {
    width: 100%;
    height: 100%;
    background-color: var(--primary-opacid);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    padding: 0 var(--page-padding);
}

.banner__color::after {
    background-color: var(--dark-opacid);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
}

.banner__color img {
    height: 70vh;
    margin-right: 2rem;
    z-index: 5;
    border-radius: var(--radius-big);
}

.intro--content {
    width: 50%;
    z-index: 5;
}

.filler {
    width: 50%;
}

.info--image {
    width: 50%;
    display: flex;
    align-items: center;
}

.info--image img {
    width: 90%;
    max-width: 500px;
    border-radius: var(--radius-big);
}

.info--content {
    width: 50%;
    padding: 7rem 0;
}

.info--content h1 {
    color: var(--primary);
}

.banner--therapists {
    display: grid;
    gap: 3rem;
    grid-template-columns: 400px 1fr 1fr;
    padding: 13rem var(--page-padding) 7rem 0;
}

.therapist--intro {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: var(--shadow);
    height: 100%;
    padding: 2rem;
    padding-left: var(--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.therapist {
    border: 2px solid var(--light-2);
    border-radius: var(--radius-big);
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow);
    justify-content: space-between;
}

.therapist .therapist--photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -8rem;
}

.therapist .logo_invinding--container {
    display: flex;
    justify-content: center;
}

.therapist .logo_invinding {
    width: 90%;
    max-width: 200px;
}

.therapist .logo_katelijn {
    height: 100px;
    margin-top: -50px;
    margin-left: 100px;
}

.therapist h2 {
    align-self: flex-start;
}

.therapist .button--website {
    margin-right: auto;
    margin-left: 0;
    background-color: var(--secondary-4);
    border: 2px solid var(--secondary-4);
    color: var(--dark-opacid-1);
}

.therapist .button--website:hover {
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--dark);
}

footer {
    padding: 2rem var(--page-padding);
    background-color: var(--primary-4);
    text-align: right;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        --page-padding: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
    }

    .header img {
        margin-bottom: 0.5rem;
        height: 50%;
    }

    .filler {
        width: 0;
    }

    .intro--content {
        width: 100%;
    }

    .banner {
        flex-direction: column;
    }

    .info--image {
        margin: 3rem 0;
        width: 100%;
        max-width: 300px;
        justify-content: center;
    }

    .info--image img {
        width: 100%;
    }

    .info--content {
        padding: 0;
        width: 100%;
    }

    .banner--therapists {
        display: flex;
        width: 100%;
        gap: 10rem;
        padding: 3rem var(--page-padding);
    }

    .therapist--intro,
    .therapist--katelijn,
    .therapist--barbara {
        width: 100%;
    }

    .therapist--intro {
        width: 100vw;
        overflow: hidden;
    }

    .therapist--intro {
        order: 1;
    }

    .therapist--katelijn {
        order: 2;
    }

    .therapist--barbara {
        order: 3;
    }

    .therapist .lg {
        display: none;
    }

    .therapist .sm {
        display: flex;
    }

    .button--container {
        margin: 1rem 0;
    }

    footer {
        text-align: left;
    }
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --page-padding: 2rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
    }

    .header img {
        margin-bottom: 0.5rem;
    }

    .filler {
        width: 30%;
    }

    .intro--content {
        width: 70%;
    }

    .banner {
        flex-direction: column;
    }

    .info--image {
        margin: 3rem 0;
        width: 100%;
        justify-content: center;
    }

    .info--image img {
        width: 100%;
        max-width: 300px;
    }

    .info--content {
        padding: 0;
        width: 100%;
    }

    .banner--therapists {
        display: flex;
        width: 100%;
        gap: 10rem;
        padding: 3rem var(--page-padding);
    }

    .therapist--intro,
    .therapist--katelijn,
    .therapist--barbara {
        width: 100%;
    }

    .therapist--intro {
        width: 100vw;
        overflow: hidden;
    }

    .therapist--intro {
        order: 1;
    }

    .therapist--katelijn {
        order: 2;
    }

    .therapist--barbara {
        order: 3;
    }

    .therapist .lg {
        display: none;
    }

    .therapist .sm {
        display: flex;
    }

    .button--container {
        margin: 1rem 0;
    }

    footer {
        text-align: left;
    }

    .button + .button {
        margin-left: 0.5rem;
    }
 }
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --page-padding: 3rem;
    }

    .filler {
        width: 50%;
    }

    .intro--content {
        width: 50%;
    }

    .banner {
        flex-direction: row;
    }

    .info--image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 0;
    }

    .info--image img {
        width: 90%;
    }

    .info--content {
        padding: 7rem 0;
        width: 50%;
    }

    .banner--therapists {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        width: 100%;
        margin-bottom: 3rem;
    }

    .therapist--intro {
        width: 100vw;
        margin-bottom: 7rem;
    }

    .therapist {
        min-height: 545px;
    }

    .therapist--katelijn {
        margin-right: var(--page-padding);
        flex: 1;
        order: 2
    }

    .therapist--barbara {
        margin-left: var(--page-padding);
        flex: 1;
        order: 1
    }

    footer {
        text-align: right;
    }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        --page-padding: 150px;
    }

    .header {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .therapist--intro {
        padding: 2rem;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
        min-height: 630px;
    }

    .banner--therapists {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 13rem var(--page-padding) 3rem 0;
        flex-wrap: nowrap;
        clear: both;
        height: fit-content;
    }

    .therapist--barbara,
    .therapist--katelijn {
        margin: 0;
        height: 100%;
        min-height: 630px;
    }
}
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        --page-padding: 230px;
    }

    .info--image img {
        max-width: 500px;
    }

    .banner--therapists {
        gap: 2rem;
        padding: 13rem var(--page-padding) 3rem 0;
    }

    .therapist .lg {
        display: flex;
    }

    .therapist .sm {
        display: none;
    }

    .therapist--katelijn,
    .therapist--barbara,
    .therapist--intro {
        min-height: 600px;
    }

    .therapist--intro {
        padding-left: var(--page-padding);
        width: 500px;
        flex-shrink: 0;
    }
}